/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding-top: 50px;
  width: 1000px;
  max-width: 100%;
  display: flex;
}

/* # HEADER */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff4c00;
  height: 70px;
  width: 100%;
}

.logo {
  width: 150px;
}

.items {
  color: white;
}

/* # CARDS */

.product-card {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.card-image {
  width: 300px;
  height: 550px;
  position: relative;
  margin-right: 20px;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
}

.product-card:hover .hover-image {
  display: none;
}

.hearts:hover {
  color: #ff4c00;
}

.hearts {
  position: absolute;
  right: 0;
  top: 5px;
  padding: 10px;
  background-color: white;
}

.discount-50 {
  position: absolute;
  bottom: 150px;
  left: 0px;
  padding: 5px 10px;
  background-color: red;
  color: white;
}

.discount-30 {
  position: absolute;
  bottom: 150px;
  left: 0px;
  padding: 5px 10px;
  background-color: red;
  color: white;
}

.item-card {
  display: block;
}

.discount-price {
  color: red;
}

.eco {
  position: absolute;
  bottom: 150px;
  left: 0px;
  margin-left: 50px;
  padding: 5px 10px;
  background-color: green;
  color: white;
}

#left {
  position: absolute;
  bottom: 150px;
  left: 0px;
  padding: 5px 10px;
  background-color: green;
  color: white;
}

/* # FOOTER */

.footer-container {
  background-color: black;
  height: 100px;
}

.footer-content {
  color: white;
}

.end {
}
